*{
    margin: 0;
    padding: 0;
}

a {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 1rem;
    color: white;
}

canvas {
    position: absolute;
    background-color: black;
}